body{
   font-family: 'Montserrat', sans-serif;
   color: #000;
   text-align: center;
}
body, html ul{
   margin: 0px;
   padding: 0px;
}

a{
   text-decoration: none;
   color: #000;
}
li{list-style: none;}

.button-menu{
  background-color: #fff;
   display: none; 
 z-index: 1; 
 position: fixed;
 top:22px;
 left:36px;
 width: 48px;
 height: 48px;
 border-radius: 50%;
 box-shadow: 0px 2px 6px #0000001A;

 flex-direction: column;
 justify-content: center;
 align-items: center;
 div{
    width: 16px;
    height:2.5px;
    background-color: #5F74DD;
    
    margin-bottom: 4px;
    &:last-child{
       width: 11px;
       margin-right: 5px;
       margin-bottom: 0px;
    }
 }
&:hover{
   div{
      opacity: 0.7;
      transition: 0.45s;
      &:last-child{
         width: 16px;
         
         margin-right: 0px;
      }
   }
}
}

.container,
main{
   max-width: 1920px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   z-index: 0;
}
header.header{
   border-bottom: #dfe1e7 solid 2px;
div.container{
   padding-left: 100px;
   padding-right: 100px;
   justify-content: space-between;
   z-index: 0;
   a.logo-text{
      font-weight: 600;
      font-size: 18px;
      margin: 30px 0 30px 0;
      &:hover{
         color: #5F74DD ;
         transition: 0.45s;
      }
   }
   nav{
      margin:30px 0px;
    ul{
       float: left;
       margin: 0px;
       li{
          float: left;
          a{
            margin:0px 30px;
            font-size: 13px;
            font-weight: 500;
            &:hover{
               color: #5F74DD ;
               transition: 0.45s;
            }
          }
       }
    }
    ul.social-icons{
       margin-left: 35px;
       li{
         a.facebook-icon{
            margin: 0px 15px 0px 0px;
            &:hover{
               fill: #3b5998;
               transition: 0.45s;
            }
          }
          a.instagram-icon{
             margin: 0px 0px 0px 15px ;
            &:hover{
               fill:#8a3ab9;
               transition: 0.45s;
            }
          }
       }
    } 
   }
}
}
main{
   padding: 120px 0px;
   div.banner{
      // max-width: 80%;
      padding: 20px 80px;
      flex-grow: 1;
      button.banner-button{
         background-color: #5F74DD;
         padding: 20px 50px;
         color: #fff;
         border: none;
         border-radius: 3px;
         margin-top: 15px;
         letter-spacing: 1px;
         &:hover{
           background-color: #000;
           transition: 0.45s; 
         }
      }
      .banner-title{
         font-size: 37px;
         font-weight: 600;
      }
      .banner-subtitle{
         color:#979BAF ;
         font-size: 20px;
         font-weight: 500;
      }
   }
   div.contact-information{
border-left: 2px solid rgb(223, 225, 231);
a{
   img{
      margin-top: 60px;
      &:hover{
         opacity: 0.8;
         transition: 0.45s;
      }
   }
}
padding: 0px 40px;
flex-grow: 1;
p, 
a{
   font-size: 13px;
   font-weight: 500;
line-height: 18px;
}
p.bold{
   font-weight: 600;
   letter-spacing: 2px;
   margin-top: 30px;
   font-size: 16px;
      }
   .line{
      background-color: #000;
      width: 13px;
      height: 3px;
      // margin: 0px auto;
      margin:60px auto ;
   }
   a.phone{
      margin-bottom: 10px;
      display: block;
      &:hover{
         color: #5F74DD ;
         transition: 0.45s;
      }
       }
       a.mail{
       &:hover{
         color: #5F74DD ;
         transition: 0.45s;
       }
          }
   }
   
}
div.modal{
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   width: 100vw;
   height: 100vh;
   display:none;
   transition: 0.7s;
   justify-content: center;
   align-items: center;
position: fixed;
background-color: rgba(95, 116, 221, 0.8);
z-index: 1;
.modal-content{
  
   position: relative;
   div.close{
     position: absolute;
     top:40px;
     right: 32px;
     width:21px ; 
     height: 21px;
     border-radius: 50%;
    
     div{
        font-size: 33px;
        line-height: 21px;
        color: #5F74DD ;
font-weight: 400;
        }
        &:hover{
         background-color:  #5F74DD;
         color: #fff;
         transition: 0.45s;
         div{
            color: #fff;
         }
     }

   }
   &::after{
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: '';
      height: 95px;
      background: transparent linear-gradient(0deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
      }
   background-color: #fff;
   width: 80%;
   min-height: 100px;
 max-width: 600px;
 max-height:100vh ;
   height: auto;
   p.modal-title{
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      margin: 30px;
   }
   .modal-content-oferty{

max-height: 600px;
overflow-y: scroll;
max-width: 90%;
margin: 0px auto;
border-top: #dfe1e7 solid 1px;
scrollbar-color:#5F74DD #F5F5F5 !important;
scrollbar-width: thin !important;

&::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
    background: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #5F74DD;
   
}

.single-offer{
padding: 20px 0px;
  text-align: left;
  border-bottom: #dfe1e7 solid 1px;
   a.offer-title{
      font-weight: 600;
      color: #5F74DD;
      &:hover{
         opacity: 0.8;
         transition: 0.45s;
      }
   }
   p.city-offer{
      color: #979BAF;
      font-size: 13px;
      margin: 0px;
line-height: 16px;
font-weight: 500;
   }
}
   }

}

}

// breakepoints

@media only screen and(max-width: 1920px) {
.container,
main{
   max-width: 1480px;
}
}
@media only screen and (max-width: 1280px) {
   .container,
   main{
      max-width: 1200px;
      div.banner{
         padding: 40px;
      }
   }
   header.header{
      div.container{
         padding-left: 20px;
         padding-right: 20px;
         nav{
            ul{
               li{
                  a{
                     margin: 0px 15px;
                  }
               }
            }
         }
      }
   }
  
}
@media only screen and(max-width: 960px) {
   .container,
   main{
      max-width: 920px;
      flex-direction: column;
      div.banner{
         padding-bottom: 130px;
         p.banner-subtitle{
            font-size: 17px;
         }
         button.banner-button{
            margin-top: 95px;
         }
      }
      div.contact-information{
         border-left: none;
         border-top:2px solid #dfe1e7;
         margin-left: 45px;
         margin-right: 45px;
         a{
            img{
               margin-top: 130px;
            }
         }
      }
   }
   header.header{
      div.container{
         a.logo-text{
            margin: 30px 0 10px 0;
         }
      nav{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 10px 0px;
         ul{
            float: none;
            margin: 0px auto;
            display: inline;
        
         }
         ul.social-icons{
            margin:25px auto auto auto;
            
         }
        
      }}}
      div.modal{
         .modal-content{
            width: 100vw;
         }
      }

}
@media only screen and(max-width: 600px) {
   header.header{
      display: none;

   }
 
   header.header{
      display: flex;
      
      div.container{
         max-width: 600px;
         position: fixed;
         top: 0px;
         bottom: 0px;
         left: -602px;
         // right: 0px;
         transition: 0.45s;
         // z-index: 1;
         background-color:#5F74DD;
         justify-content: flex-start;
         a.logo-text{
            color: #fff;
            &:hover{
               opacity: 0.8;
               color: #fff;
            }
         }
         nav{
            ul{
               margin-top: 30px;
               li{
                  float: none;
                  a{
                     color: #fff;
                     font-weight: 500;
                     font-size: 14px;
                     text-transform: uppercase;
                     padding: 10px;
                     display: inline-block;
                     &:hover{
                        opacity: 0.8;
                        color: #fff
                     }
                  }
               }
            }
               ul.social-icons{
               li{
                  a{
                     margin: 0px;
                     svg{
                        fill: #fff;
                     }
                  }
                  a.facebook-icon{
                     margin: 0px;
                    
                  }
                  a.instagram-icon{
                     margin: 0px;
                    
                  }
               }
            }
            
         }
      }
   }
   header.header.mobile-menu{
      div.container{
         left: 0px;
         right: 0px;
         transition: 0.3s;
        
        
      }
   }
   .container,
   main{
      max-width: 560px;
   }
   .button-menu{
      display:flex;
      }
   }